extends layouts/login-layout

block content 
    .loginContainer
        h1 Login
        form(action="", method="post")
            p.errorMessage #{errorMessage}
            input(type="text", name="username",placeholder="Username or email", required="", value="ramram")
            input(type="text", name="password",placeholder="Password", required="", value="ram")
            //- input(type="text", name="username",placeholder="Username or email", required="", value=username)
            //- input(type="text", name="password",placeholder="Password", required="")
            input(type="submit", value="Login")
        a(href="/register") Need an account? Please register in. 